<!--start of end content-->
<div class="end-container">
    <div class="end-wrapper">
        <div class="end-quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="https://srmtrichy.edu.in/">SRMIST Tiruchirappalli</a></li>
                <li><a href="https://evarsity.srmist.edu.in/srmsip/">Evarsity</a></li>
                <li><a href="https://auth.dhi-edu.com/auth/realms/srmgroup/protocol/openid-connect/auth?client_id=srmgroup_cet&redirect_uri=https%3A%2F%2Fsrmgroup.dhi-edu.com%2Fsrmgroup_cet%2F%23%2Fstudent%2Fdashboard&state=6023c7e3-873e-4b8f-8c57-c678d73a627a&response_mode=fragment&response_type=code&scope=openid&nonce=e4439e2f-093f-476e-858e-33e689b21a8f">ERP Portal</a></li>
            </ul>
        </div>
        <div class="end-address">
            <div class="end-address-logo fade">
               <a href="https://goo.gl/maps/td7wZydFFyu28fyh9"><img src="https://srmtrichy.edu.in/wp-content/uploads/2022/05/cropped-srm-trp-logo.png"></a>
            </div>
            <div class="end-address-text">
                <p>SRM Institute of Science and Technology(SRMIST)</p>
                <p>Tiruchirappalli Campus,</p>
                <p>Deemed to be University</p>
                <p>(Formerly SRM University)</p>
                <p>SRM Nagar,</p>
                <p>Trichy – Chennai Highway,</p>
                <p>Near Samayapuram,</p>
                <p>Tiruchirappalli – 621105. Tamilnadu, India.</p>
                <a href="tel: 1800-202-4565">1800-202-4565</a>
            </div>
        </div>
    </div>
</div>
<!--start of end content-->

<!--start of footer-->
<footer>
    <div class="footer-container">
        <div class="footer-text">
            <p>2022 SRM Institute of Science and Technology | Developed by <a href="https://youtu.be/dQw4w9WgXcQ">Vs</a></p>
        </div>
        <a class="scroll-to-top" href="#"><i class="fas fa-chevron-up"></i></a>
    </div>
</footer>
<!--end of footer-->