<!--start of navbar-->
<div class="navbar-container" id="navbar-container">
    <div class="navbar-container-logo">
        <a href="https://srmtrichy.edu.in/" ><img class="navbar-srmlogo" src="https://srmtrichy.edu.in/wp-content/uploads/2022/05/cropped-srm-trp-logo.png"></a>
        <!--<p>Deemed to be university</p>-->
    </div>
    <nav class="navbar-container-elements">
        <ul>
            <div class="navbar-list">
                <li class="nav-list-element"><a href="/">Home</a></li>
                <li class="nav-list-element">
                    <a href="about">About
                        {{!-- <span class="nav-list-sub-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </span> --}}
                    </a>
                    {{!-- <ul class="list-element-about-submenu">
                        <li><a href="#vision-mission"></a>Vision & Mission</li>
                        <li><a href="#"></a>Services & Resources</li>
                        <li><a href="#"></a>About Staff</li>
                    </ul> --}}
                </li>
                <li class="nav-list-element">
                    <a href="e-resoruces">E-Resources</a>
                </li>
                <li class="nav-list-element">
                    <a href="remote-access">Remote Access</a>
                </li>
                <li class="nav-list-element"><a href="ask-a-librarian">Ask a Librarian</a></li>
                <li class="nav-list-element"><a href="contact">Contact</a></li>
            </div>
        </ul>
    </nav>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>
<div class="progress-container">
    <div class="progress-bar"></div>
</div>
<!--end of navbar-->
