<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/about.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<section id="about">
    <div class="about-wrapper">
        <div class="about-header-image">
            <img src="/images/home/slideshow-images/img3.jpg">
        </div>
        <div class="blueblock-wrapper">
            <div class="blueblock-container">
                <div class="blueblock-text">
                    <p>About</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="vision-mission">
    <div class="vision-mission-container">
        <div class="vision-wrapper">
            <div class="vision-header">
                <h1>Vision</h1>
            </div>
            <div class="vision-list">
                <ul>
                    <li><i class="fas fa-crosshairs"></i> To support the faculty, research scholars and students in teaching and learning.</li>
                    <li><i class="fas fa-crosshairs"></i> To help attain excellence in higher technical education and research.</li>
                    <li><i class="fas fa-crosshairs"></i> To provide a hi-tech gateway and easy access to knowledge based global information and academic resources in a variety of formats.</li>
                    <li><i class="fas fa-crosshairs"></i> To meet the relevant and diverse demands in scientific, engineering, technological and management education.</li>
                </ul>
            </div>
        </div>
        <div class="mission-wrapper">
            <div class="mission-header">
                <h1>Mission</h1>
            </div>
            <div class="mission-list">
                <ul>
                    <li><i class="fas fa-crosshairs"></i> To systematically and regularly collect relevant books, journals, magazines and such other publications, in conventional or in electronic media, for continuous updating and strengthening the resources of the library and its data bank.</li>
                    <li><i class="fas fa-crosshairs"></i> To provide the right ambience and facilities for the acquisition and dissemination of information to faculty and students.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="vision-mission-image fade">
        <img src="/images/about/vision-mission.jpg">
    </div>
</section>
<section id="library-services">
    <div class="library-services-wrapper fade">
        <div class="library-services-header">
            <h1>LIBRARY SERVICES</h1>
        </div>
        <div class="library-services-text">
            <p>All Library operations at the SRM IST Trichy campus are computerized and RFID Technology has been implemented. Among the many services rendered to users are,</p>
        </div>
        <div class="library-services-list-wrapper">
            <div class="library-services-list">
                <ul>
                    <li><i class="fas fa-chevron-right"></i> Book Reservation</li>
                    <li><i class="fas fa-chevron-right"></i> CD-ROM Access</li>
                    <li><i class="fas fa-chevron-right"></i> Desktop Publishing</li>
                    <li><i class="fas fa-chevron-right"></i> E-Access (E-Journals, E-books, Question bank & Projects)</li>
                    <li><i class="fas fa-chevron-right"></i> Inter Library Loan</li>
                    <li><i class="fas fa-chevron-right"></i> Internet Browsing</li>
                    <li><i class="fas fa-chevron-right"></i> Lending Service</li>
                    <li><i class="fas fa-chevron-right"></i> Newspaper Clippings</li>
                    <li><i class="fas fa-chevron-right"></i> OPAC (Online Public Access Catalogue)</li>
                </ul>
            </div>
            <div class="library-services-list">
                <ul>
                    <li><i class="fas fa-chevron-right"></i> Previous Years Exams Question Papers access 24x7</li>
                    <li><i class="fas fa-chevron-right"></i> Printing and Scanning</li>
                    <li><i class="fas fa-chevron-right"></i> Publications Originality/Anti Plagiarism Check Tools</li>
                    <li><i class="fas fa-chevron-right"></i> Publications, Research Productivity, and Impact Tools</li>
                    <li><i class="fas fa-chevron-right"></i> Reference Service</li>
                    <li><i class="fas fa-chevron-right"></i> Remote Access – E-Resources of LRC 24x7</li>
                    <li><i class="fas fa-chevron-right"></i> Reprographic, ILL, Literature Search</li>
                    <li><i class="fas fa-chevron-right"></i> Research and Publishing Support</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="resources">
    <div class="resources-wrapper reveal">
        <div class="resources-header">
            <h1>RESOURCES</h1>
        </div>
        <div class="resources-text">
            <p>The Library has an impressive collection of Standard & University prescribed text and reference books. Based on student needs & faculty recommendation, multiple copies of text books are bought and made available.</p>
        </div>
        <div class="resources-table-container">
            <table class="print-resources-table">
            <tr>
                <th colspan="3">Print Resources</th>
            </tr>
            <tr>
                <td rowspan="2">Books</td>
                <td>Total no. of Volumes</td>
                <td>25147</td>
            </tr>
            <tr>
                <td>Total no. of Titles</td>
                <td>8925</td>
            </tr>
            <tr>
                <td rowspan="3">Periodicals (Print)</td>
                <td>International</td>
                <td>56</td>
            </tr>
            <tr>
                <td>National</td>
                <td>56</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>112</td>
            </tr>
            <tr>
                <td colspan="2">Magazine</td>
                <td>25</td>
            </tr>
            </table>
            <table class="online-resources-table">
                <tr>
                    <th colspan="3">Online Resources</th>
                </tr>
                <tr>
                    <td rowspan="2">EBSCO</td>
                    <td>E.Books</td>
                    <td>23,000</td>
                </tr>
                <tr>
                    <td>E.Journal</td>
                    <td>1400+</td>
                </tr>
                <tr>
                    <td>IEEE</td>
                    <td>E.Journal</td>
                    <td>192+</td>
                </tr>
                <tr>
                    <td rowspan="2">DELNET</td>
                    <td>E.Books</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>E.Journal</td>
                    <td>1500+</td>
                </tr>
                <tr>
                    <td>Other Resources</td>
                    <td>CDs/ DVDs</td>
                    <td>3750</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<section id="membership-details">
    <div class="membership-details-wrapper reveal">
        <div class="membership-details-header">
            <h1>MEMBERSHIP DETAILS</h1>
        </div>
        <div class="membership-details-text">
            <p>The Library has an impressive collection of Standard & University prescribed text and reference books. Based on student needs & faculty recommendation, multiple copies of text books are bought and made available.</p>
        </div>
        <div class="membership-details-table-container">
            <table class="membership-details-table">
            <tr>
                <th>Category of the user</th>
                <th>No of books allowed</th>
                <th>Duration</th>
            </tr>
            <tr>
                <td colspan="3"><b>Staff</b></td>
            </tr>
            <tr>
                <td>Teaching Staff</td>
                <td>6</td>
                <td>One Month</td>
            </tr>
            <tr>
                <td>Non Teaching Staff</td>
                <td>2</td>
                <td>15 Days</td>
            </tr>
            <tr>
                <td colspan="3"><b>Students</b></td>
            </tr>
            <tr>
                <td>Under Graduate</td>
                <td>4</td>
                <td>15 Days</td>
            </tr>
            <tr>
                <td>Post Graduate</td>
                <td>4</td>
                <td>15 Days</td>
            </tr>
            </table>
        </div>
    </div>
</section>
{{>footer}}

<script src="/javascripts/default.js"></script>

</body>
</html>