<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/ask-a-librarian.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<section id="ask-a-librarian">
    <div class="ask-a-librarian-wrapper">
        <div class="ask-a-librarian-header-image">
            <img src="/images/ask-a-librarian/header-image.jpg">
        </div>
        <div class="blueblock-wrapper">
            <div class="blueblock-container">
                <div class="blueblock-text">
                    <p>Ask a librarian</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="ask-a-librarian-header">
    <p>Ask your query</p>
    <p>to a librarian.</p>
</div>
<div class="ask-a-librarian-form-container">
  <form class="ask-a-librarian-form">
    {{!-- <label class="ask-a-librarian-form-label" for="name">Name</label> --}}
    <input class="ask-a-librarian-form-input" type="text" id="userName" name="name" placeholder="Your name.." required>

    {{!-- <label class="ask-a-librarian-form-label" for="email">Email</label> --}}
    <input  class="ask-a-librarian-form-input" type="email" id="email" name="email" placeholder="Your email.." required>

    {{!-- <label class="ask-a-librarian-form-label" for="name">Staff Name</label> --}}
    <input  class="ask-a-librarian-form-input" type="name" id="staffName" name="name" placeholder="Staff name.." required>
    
    {{!-- <label class="ask-a-librarian-form-label" for="subject">Subject</label> --}}
    <textarea  class="ask-a-librarian-form-text-area" id="subject" name="subject" placeholder="Type your message here.." required></textarea>

    <button class="ask-a-librarian-form-submit-btn" type="submit">Submit</button>
  </form>
</div>
{{>footer}}
    
<script src="/javascripts/default.js"></script>

</body>
</html>