<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/contact.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<div class="contact-image-container">
    <div class="contact-image">
        <img src="/images/contact-us.jpg">
    </div>
    <div class="blueblock-wrapper">
        <div class="blueblock-container">
            <div class="blueblock-text">
                <p>Contact</p>
            </div>
        </div>
    </div>
</div>

<section id="contact">
    <div class="contact-wrapper">
        <div class="contact-header">
            <h1>CONTACT US</h1>
        </div>
        <div class="contact-text">
            <p>DR.M.EBENEZER SELVAKUMAR</p>
            <p>UNIVERSITY CHIEF LIBRARIAN</p>
            <p>TIRUCHIRAPPALLI – 621 105.</p>
            <p>Mail Id: <a href="mailto: chieflibrarian@ist.srmtrichy.edu.in">chieflibrarian@ist.srmtrichy.edu.in</a></p>
            <p>Mobile: <a href="tel: +91 94899 15244">+91 94899 15244</a></p>
        </div>
    </div>
</section>
{{>footer}}
    
<script src="/javascripts/default.js"></script>

</body>
</html>