<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/contact.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
{{>header}}
<div class="contact-header-image-container">
    <div class="contact-header-image">
        <img src="https://srmtrichy.edu.in/wp-content/uploads/2022/07/1-2.webp">
    </div>
    <div class="blueblock-wrapper">
        <div class="blueblock-container">
            <div class="blueblock-text">
                <p>Contact</p>
            </div>
        </div>
    </div>
</div>

<section id="contact">
    <div class="contact-wrapper">
        <div class="contact-library">
            <div class="contact-header">
                <h3>Library</h3>
            </div>
            <div class="contact-text">
                <p>DR.M.Ebenezer Selvakumar</p>
                <p>Univercity Chief Librarian</p>
                <p>Tiruchirapalli – 621 105.</p>
                <p>Mail Id: <a href="mailto: chieflibrarian@ist.srmtrichy.edu.in">chieflibrarian@ist.srmtrichy.edu.in</a></p>
                <p>Mobile: <a href="tel: +91 94899 15244">+91 94899 15244</a></p>
            </div>
        </div>
        <div class="contact-further-information">
            <div class="contact-header">
                <h3>Futher Information</h3>
            </div>
            <div class="contact-text">
                <a href="tel: +91-431-2258990">+91-431-2258990</a>
                <a href="tel: +91-9786780444">+91-9786780444</a>
                <a href="mailto: info@ist.srmtrichy.edu.in">info@ist.srmtrichy.edu.in</a>
                <a href="https://ist.srmtrichy.edu.in">https://ist.srmtrichy.edu.in</a>
            </div>
        </div>
    </div>
    <div class="contact-image">
        <img src="/images/contact-us.jpg" alt="">
    </div>
</section>
{{>footer}}
    
<script src="/javascripts/default.js"></script>

</body>
</html>