<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/e-resources.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    
</head>
<body>
    
{{>header}}

<div class="e-resources-header-image-container">
    <div class="e-resources-header-image">
        <img src="/images/home/slideshow-images/img1.jpg">
        <div class="blueblock-wrapper">
            <div class="blueblock-container">
                <div class="blueblock-text">
                    <p>E-Resources</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--start of resources-->
<section id="ebooks" class="reveal">
    <div class="ebooks-header">
        <p><i class="fas fa-link fa-xs"></i> eBooks</p>
    </div>
    <div class="ebooks-container">
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.doabooks.org/"><img src="/images/e-resources/doab.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.doabooks.org/">DOAB</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>Directory of Open Access Books is a joint service of OAPEN, Open Edition, CNRS and Aix-Marseille Université. DOAB is a community-driven discovery service that indexes and provides access to scholarly, peer-reviewed open access books and helps users to find trusted open access book publishers.</p>
                </div>
            </div>
        </div> 
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.gutenberg.org/"><img src="/images/e-resources/project_gutenberg.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.gutenberg.org/">Project Gutenberg</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>Project Gutenberg is a library of over 60,000 free eBooks. Choose among free epub and Kindle eBooks, download them or read them online. You will find the world's great literature here, with focus on older works for which U.S. copyright has expired.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div> 
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ejournals" class="reveal">
    <div class="ejournals-header">
        <p><i class="fas fa-link fa-xs"></i> eJournals</p>
    </div>
    <div class="ejournals-container">
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.doabooks.org/"><img src="/images/e-resources/doab.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.doabooks.org/">DOAB</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>Directory of Open Access Books is a joint service of OAPEN, Open Edition, CNRS and Aix-Marseille Université. DOAB is a community-driven discovery service that indexes and provides access to scholarly, peer-reviewed open access books and helps users to find trusted open access book publishers.</p>
                </div>
            </div>
        </div> 
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.gutenberg.org/"><img src="/images/e-resources/project_gutenberg.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.gutenberg.org/">Project Gutenberg</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>Project Gutenberg is a library of over 60,000 free eBooks. Choose among free epub and Kindle eBooks, download them or read them online. You will find the world's great literature here, with focus on older works for which U.S. copyright has expired.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div> 
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="research-database" class="reveal">
    <div class="research-database-header">
        <p><i class="fas fa-link fa-xs"></i> Research Database</p>
    </div>
    <div class="research-database-container">
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.doabooks.org/"><img src="/images/e-resources/doab.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.doabooks.org/">DOAB</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>Directory of Open Access Books is a joint service of OAPEN, Open Edition, CNRS and Aix-Marseille Université. DOAB is a community-driven discovery service that indexes and provides access to scholarly, peer-reviewed open access books and helps users to find trusted open access book publishers.</p>
                </div>
            </div>
        </div> 
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.gutenberg.org/"><img src="/images/e-resources/project_gutenberg.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.gutenberg.org/">Project Gutenberg</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>Project Gutenberg is a library of over 60,000 free eBooks. Choose among free epub and Kindle eBooks, download them or read them online. You will find the world's great literature here, with focus on older works for which U.S. copyright has expired.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://www.pdfdrive.com/"><img src="/images/e-resources/pdf_drive.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://www.pdfdrive.com/">PDF Drive</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>PDF Drive is your search engine for PDF files. As of today we have 82,144,730 eBooks for you to download for free. No annoying ads, no download limits, enjoy it.</p>
                </div>
            </div>
        </div> 
        <div class="resource">
            <div class="resource-content-image">
                <a href="https://ndl.iitkgp.ac.in/"><img src="/images/e-resources/ndli.jpg"></a>
            </div>
            <div class="resource-content-text">
                <div class="resource-content-text-header">
                    <a href="https://ndl.iitkgp.ac.in/">NDLI</a>
                </div>
                <div class="resource-content-text-paragraph">
                    <p>The National Digital library of India (NDLI) is a project under Ministry of Human Resource Development, India. The objective is to collect and collate metadata and provide full text index from several national and international digital libraries, as well as other relevant sources.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of resources-->

{{>footer}}

<script src="/javascripts/default.js"></script>

</body>
</html>
