<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/home.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    
</head>
<body>
    
{{>header}}
    
<!--start of image slideshow-->
<div class="slideshow-container">
    <div class="slides">
        <img src="/images/home/slideshow-images/img1.jpg">
    </div>
    <div class="slides">
        <img src="/images/home/slideshow-images/img2.jpg">
    </div>
    <div class="slides">
        <img src="/images/home/slideshow-images/img3.jpg">
    </div>
    <div class="slides">
        <img src="/images/home/slideshow-images/img4.jpg">
    </div>
    <div class="slideshow-dots">
        <span class="dots"></span>
    </div>
</div>

<!--end of image slideshow-->

<div class="slideshow-container-text">
    <p>Library</p>
</div>

<div class="quick-links">
    <button class="quick-links-button"><i class="fas fa-link"></i></button>
</div>

<!--start of home content-->
<div class="home-container">
    <div class="home-library">
        <div class="library-text reveal">
            <h1>Central Library</h1>
            <p>
                The Central Library of our Institute stands as an epitome of intellectual
                elegance and a repository of Engineering and Technology, Medicine, Science and
                Humanities, Hotel Management and Allied Health Sciences. The Learning Centre of
                the institute plays a pivotal role in the process of promoting and demonstrating a
                desire for information, knowledge, and understanding among the students, and so
                aiding them in the development of their professional, personal, and spiritual lives.
                The Central Library inspires and supports students, faculty, researchers, and staff in
                all facets of their pursuits to dream, learn, create, and share knowledge and provides
                access to a wide array of technical ideas and information. <!--<div class="home-viewmore">
                <p><i class="fas fa-arrow-right"></i> more info..</p>
                </div>-->
            </p>
        </div>
        <div class="library-image reveal">
            <img src="/images/home/img2_border.jpg">
        </div>
    </div>
    <div class="home-digital-library ">
        <div class="digital-library-image reveal">
            <img src="/images/home/slideshow-images/img4.jpg">
        </div>
        <div class="digital-library-text reveal">
            <h1>Digital Library</h1>
            <p>
                Library provides the computer systems to access  the subscribed E-Databases, E-Journals, E-Books, other e- resources and internet browsing for
                students and staff community. Users can access for educational, research and
                development purpose. Non-book materials such as CDs, DVDs, text book tutorial CDs
                and periodical’s CDs are also kept in the Library. Frequent updating of the collection
                and fully computerized systems go towards endearing the Centre to the students. In
                this regard, a digital library has been established with 25 computer systems with
                internet facility. 
                <!--<div class="home-viewmore">
                <p><i class="fas fa-arrow-right"></i> more info..</p>
                </div>-->
            </p>
        </div>
    </div>
    <div class="home-working-hours reveal">
        <div class="working-hours-text">
            <h1>Working Hours</h1>
            <p>Central Library is open to all our students, scholars, faculty members from the morning up until late at night and is a delightfully convenient space to assist learning, exploration and reference mandates.</p>
        </div>
        <div class="working-hours-block">
            <div class="working-hours-block-weekdays">
                <div class="working-hours-weekdays-header">
                    <i class="far fa-clock"></i>
                    <h3>Monday to Friday</h3>
                </div>
                <div class="working-hours-weekdays-text">
                    <div class="working-hours-study">
                        <p>Study/Reference</p>
                        <p>09.00 AM to 07.00 PM</p>
                    </div>
                    <div class="working-hours-transactions">
                        <p>Transactions</p>
                        <p>09.00 AM to 05.00 PM</p>
                    </div>
                </div>
            </div>
            <div class="working-hours-block-weekend">
                <div class="working-hours-weekend-header">
                    <i class="far fa-clock"></i>
                    <h3>Saturday to Sunday</h3>
                </div>
                <div class="working-hours-weekend-text">
                    <div class="working-hours-study">
                        <p>Study/Reference/Transactions</p>
                        <p>09.00 AM to 07.00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- <div class="page-count-container">
    <div class="page-count">
        <span id="page-views-count"></span>
        <h4>Pageviews</h4>
    </div>
    <div class="page-count">
        <span id="page-visits-count"></span>
        <h4>Visits</h4>
    </div>
</div> --}}
<!--end of home content-->

{{>footer}}

<script src="/javascripts/default.js"></script>
<script src="/javascripts/home.js"></script>
<script src="/javascripts/page-count.js"></script>

</body>
</html>
