<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/remote-access.css'>
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
    <script src="https://kit.fontawesome.com/811d89d010.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    
</head>
<body>

{{>header}}
<div class="remote-access-wrapper">
    <div class="remote-access-container">
            <div class="remote-access-header-wrapper">
                <div class="remote-access-header">
                    <h1>KNIMBUS REMOTE ACCESS</h1>
                </div>
                <div class="remote-access-image">
                   <a href="https://srmtrichy.knimbus.com"><img src="/images/knimbus.png"></a>
                </div>
            </div>
            <div class="remote-access-text">
                <p><i class="fas fa-chevron-right"></i> With the growing need of Off-Campus resource accessibility and dependence on cloud structures, higher education institutes need solutions to manage and share their e-Resources efficiently. Whether it is for research, learning or academic development, it is essential that your students have easy and free access to quality content while you have centralized control and access to usage data.</p>
                <p><i class="fas fa-chevron-right"></i> Knimbus mLibrary is a platform that empowers you to do just that and much more. It provides tools like Universal Search, Anywhere Access, Detailed Analytics and Librarian Dashboard on a single integrated platform so that students & faculty can seamlessly access library resources anytime, anywhere and on any device.</p>
                <p><i class="fas fa-chevron-right"></i> In addition, with KOHA, OPAC and Microsoft Teams integrations, colleges can incorporate their Knimbus digital library with various resource and collaboration environments.
                Knimbus has set sail with a strong vision, 'A world where people can easily access relevant and credible knowledge with trust.'</p>
            </div>
    </div>
    <div class="remote-access-timer">
        <p>Redirecting to Knimbus official site in</p>
        <div class="remote-access-timer-wrapper">
            <div class="timer"></div>
            <p>seconds.</p>
        </div>
        <p>or<a href="https://srmtrichy.knimbus.com"> click here.</a></p>
    </div>  
</div>
{{>footer}}

<script src="/javascripts/default.js"></script>
<script src="/javascripts/remote-access.js"></script>

</body>
</html>