@import url("variables.css");

.blueblock-container{
  position:absolute;
  top: 27em;
  background-color: var(--secondary-blue);
  width: 250px;
  height: 100px;
  margin-left: 70px;
  cursor: default;
}
.blueblock-text{
  display: flex;
  color: var(--primary-white);
  font-family: var(--blueblock-font);
  font-weight: var(--blueblock-font-weight);
  font-size: 2.6rem;
  justify-content: flex-start;
  padding-left: 1em;
  padding-top: 0.4em;
  font-weight: 600;
}
.about-header-image img{
  height: 400px;
  width: 100%;
  transform: translateY(-40px);
  object-fit: cover;
}
.about-container{
  background-color: var(--footer-primary);
}
.about-wrapper{
  color: var(--primary-white);
  margin-top: 2em;
}
.about-header{
  margin-top: 5em;
  margin-left: 2em;
  width: 95%;
  border-bottom: 1px solid var(--secondary-yellow);
}
.about-header p{
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  color: var(--primary-black);
}
#vision-mission{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.vision-mission-container{
  background-color: var(--secondary-yellow);
  padding: 3em;
  align-items: center;
}
.vision-mission-image{
  position: relative;
  left: -2em;
}
.vision-mission-image img{
  height: 600px;
  width: 500px;
  object-fit: cover;
  transition: width 1s;
}
.vision-wrapper,.mission-wrapper{
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 1em;
}
.vision-header,.mission-header{
  font-family: var(--primary-font);
  border-bottom: 1px solid var(--secondary-yellow);
}
.vision-list ul li,.mission-list ul li{
  padding-top: 1em;
  word-spacing: 0.1em;
  line-height: 1.4em;
  font-family: var(--primary-font);
  list-style: none;
}
.vision-list ul li i,.mission-list ul li i{
  display: inline;
}
#library-services{
  margin-top: 4em;
  padding: 1em;
  font-family: var(--primary-font);
  background-color: var(--footer-primary);
}
.library-services-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.library-services-header{
  border-bottom: 1px solid var(--secondary-yellow);
}
.library-services-text{
  padding-top: 1.5em;
  width: 50%;
  line-height: 1.6em;
}
.library-services-list-wrapper{
  display: flex;
}
.library-services-list{
  width: 50%;
}
.library-services-list ul{
  padding-top: 1em;
}
.library-services-list ul li{
  line-height: 2.4em;
}
.library-services-list ul li i{
  display: none;
}
.fa-chevron-right{
  font-size: 0.8rem;
}
#resources{
  font-family: var(--primary-font);
}
.resources-wrapper{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resources-header{
  border-bottom: 1px solid var(--secondary-yellow);
}
.resources-text{
  padding-top: 1.5em;
  width: 50%;
  line-height: 1.5em;
}
.resources-table-container{
  margin-top: 2em;
}
table {
  border-collapse: collapse;
  min-width: 600px;
}
th{
  background-color: var(--secondary-blue);
  color: var(--primary-white);
}
td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
.resources-wrapper{
  margin-top: 2em;
}
#membership-details{
  font-family: var(--primary-font);
}
.membership-details-wrapper{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.membership-details-header{
  border-bottom: 1px solid var(--secondary-yellow);
}
.membership-details-text{
  padding-top: 1.5em;
  width: 50%;
  line-height: 1.5em;
}
.membership-details-table-container{
  margin: 1em;
}


@media(max-width: 890px){
  .blueblock-container{
    width: 170px;
    height: 70px;
    top: 22em;
    margin-left: 2em;
  }
  .blueblock-text{
    font-size: 1.6rem;
    padding-left: 1.2em;
    padding-top: 0.5em;
  } 
  .about-header-image img{
    height: 300px;
  }
  table {
    border-collapse: collapse;
    min-width: auto;
    width: 350px;
  }
  td, th {
    padding: 6px;
  }
  .vision-wrapper,.mission-wrapper{
    margin: auto;
    width: auto;
  }
  .library-services-wrapper{
    align-items: flex-start;
  }
  .library-services-text{
    padding-top: 1em;
    width: auto;
    line-height: 1.4em;
  }
  .library-services-list ul{
    padding-top: 1em;
  }
  .resources-text{
    padding: 1em;
    width: auto;
  }
  .membership-details-text{
    padding: 1em;
    width: auto;
    line-height: 1.4em;
  }
}