@import url("variables.css");

.blueblock-container{
    position:absolute;
    top: 29em;
    background-color: var(--secondary-blue);
    width: 350px;
    height: 120px;
    margin-left: 70px;
    cursor: default;
}
.blueblock-text{
    display: flex;
    color: var(--primary-white);
    font-family: var(--blueblock-font);
    font-weight: var(--blueblock-font-weight);
    font-size: 2.6rem;
    justify-content: flex-start;
    padding-left: 0.6em;
    padding-top: 0.6em;
}
.ask-a-librarian-header-image img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(-4em);
}
.ask-a-librarian-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.8em;
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin-top: 2em;
}
.ask-a-librarian-header p:nth-child(1){
    font-size: 3rem;
}
.ask-a-librarian-header i{
    font-size: 3rem;
    color: var(--secondary-color);
}
.ask-a-librarian-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    border-radius: 0.5em;
    padding: 2em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 6em;
    font-family: var(--secondary-font);
    background-color: var(--footer-primary);
    font-size: 1.4rem;
}
.ask-a-librarian-form-label{
    font-family: var(--primary-font);
}
.ask-a-librarian-form-input{
    width: 100%;
    padding: 1em;
    font-family: var(--blueblock-font);
    border: 1px solid var(--footer-primary);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.ask-a-librarian-form-text-area{
    height:200px;
    width: 100%;
    padding: 1em;
    font-family: var(--blueblock-font);
    border: 1px solid var(--footer-primary);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.ask-a-librarian-form-submit-btn{
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    background-color: var(--secondary-blue);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 6em !important;
}
.ask-a-librarian-form-submit-btn:hover{
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--primary-black);
    transition: all .1s;
}
@media (max-width: 1160px){
    
}
@media(max-width: 890px){
    .blueblock-container{
        width: 250px;
        height: 70px;
        top: 18em;
    }
    .blueblock-text{
        font-size: 1.6rem;
        padding-left: 1em;
        padding-top: 0.4em;
    } 
    .ask-a-librarian-header-image img{
        height: 300px;
    }
    .ask-a-librarian-header{
        font-size: 1.6rem;
        margin-top: 2em;
    }
    .ask-a-librarian-header p{
        text-align: center;
    }
    .ask-a-librarian-form-container{
        width: 90%;
    }
}
@media(max-width: 600px){
    .blueblock-container{
        margin-left: 30px;
    }
}