@import url("variables.css");

.blueblock-container{
    position:absolute;
    top: 29em;
    background-color: var(--secondary-blue);
    width: 260px;
    height: 100px;
    margin-left: 70px;
    cursor: default;
}
.blueblock-text{
    display: flex;
    color: var(--primary-white);
    font-family: var(--blueblock-font);
    font-weight: var(--blueblock-font-weight);
    font-size: 2.6rem;
    justify-content: flex-start;
    padding-left: 1em;
    padding-top: 0.4em;
}
.contact-header-image img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(-6em);
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4em;
    width: 600px;
    height: 650px;
    background-color: var(--secondary-blue);
    color: #fff;
    text-align: start;
    padding-left: 3em;
}
.contact-header{
    font-family: var(--primary-font);
    font-size: 1.6rem;
}
.contact-text{
    font-family: var(--secondary-font);
    padding-top: 1em;
    line-height: 2.2em;
    font-size: 1rem;
}
.contact-text a{
    color: #fff;
    text-decoration: none;
}
.contact-image{
    position: relative;
    top: -1em;
    left: -6.5em;
}
.contact-image img{
    width: 650px;
    height: 450px;
    border-radius: 0.3em;
}
.contact-further-information{
    padding-top: 3em;
}

@media (max-width: 1160px){
    .contact-wrapper{
        margin: 1em;
        margin-bottom: 4em;
        width: 400px;
        height: 500px;
        padding-left: 3em;
    }
    .contact-header{
        font-size: 1.2rem;
    }
    .contact-text{
        line-height: 1.5em;
        font-size: 0.8rem;
    }
    .contact-image img{
        width: 500px;
        height: 350px;
    }
    .contact-further-information{
        padding-top: 2em;
    }
}
@media(max-width: 890px){
    .blueblock-container{
        width: 200px;
        height: 80px;
        top: 16em;
    }
    .blueblock-text{
        font-size: 2rem;
        padding-left: 1em;
        padding-top: 0.3em;
    }
    .contact-header-image img{
        height: 300px;
    }
    #contact{
        flex-direction: column-reverse;
    } 
    .contact-wrapper{
        width: 440px;
        height: 450px;
        padding-left: 3em;
        position: relative;
        left: 2em;
        animation: fadeIn-image 1s;
    }
    .contact-image{
        position: relative;
        top: 3em;
        left: -1em;
    }
    .contact-image img{
        width: 400px;
        height: 300px;
        animation: slideIn 1s;
    }
}
@media(max-width: 600px){
    .blueblock-container{
        margin-left: 30px;
    }
    .contact-wrapper{
        width: 280px;
        padding-left: 1.5em;
        height: 400px;
    }
    .contact-image img{
        width: 320px;
        height: 220px;
    }
}