@import url("variables.css");

/*start of resource header*/
.resources-header-image img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.blueblock-container{
    top: 30em;
    position:absolute;
    background-color: var(--secondary-blue);
    font-family: var(--blueblock-font);
    font-weight: var(--blueblock-font-weight);
    width: 300px;
    height: 100px;
    margin-left: 70px;
    cursor: default;
}
.blueblock-text{
    display: flex;
    color: var(--primary-white);
    font-size: 2rem;
    justify-content: flex-start;
    padding-left: 1.5em;
    padding-top: 0.7em;
    font-weight: 600;
}
.e-resources-header-image img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(-4em);
}
/*end of resource header*/

/*start of resource content*/
#ebooks{
    margin: 1em;
}
.ebooks-header{
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin-left: 1em;
    border-bottom: 1px solid var(--secondary-yellow);
}
.ebooks-container{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    overflow-x: scroll;
}
.ebooks-container::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}   
.ebooks-container::-webkit-scrollbar-thumb{
    background: var(--footer-primary);
    border-radius: 0.4em;
}
#ejournals{
    margin: 1em;
}
.ejournals-header{
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin-left: 1em;
    border-bottom: 1px solid var(--secondary-yellow);
}
.ejournals-container{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    overflow-x: scroll;
}
.ejournals-container::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}   
.ejournals-container::-webkit-scrollbar-thumb{
    background: var(--footer-primary);
    border-radius: 0.4em;
}
#research-database{
    margin: 1em;
}
.research-database-header{
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin-left: 1em;
    border-bottom: 1px solid var(--secondary-yellow);
}
.research-database-container{
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
    overflow-x: scroll;
}
.research-database-container::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}   
.research-database-container::-webkit-scrollbar-thumb{
    background: var(--footer-primary);
    border-radius: 0.4em;
}
.resource{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1em;
    font-family: var(--primary-font);
    background-color: var(--footer-primary);
    color: var(--primary-black);
    height: 400px;
    width: 300px;
    min-width: 300px;
    border-radius: 0.5em;
    border: 2.5px solid rgb(201, 201, 201);
    transition: .2s;
}
.resource:hover{
    transform: translateY(-1rem);
    box-shadow: 0.2em 0.2em 0.2em var(--footer-primary);
    transition: all 0.4s;
}
.resource:hover~.resource{
    transform: translateX(150px);
}
.resource:not(:first-child){
    margin-left: -160px;
}
.resource-content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
}
.resource-content-text-header{
    margin-left: 0.6em;
    font-size: 1.3rem;
}
.resource-content-text-header a{
    color: var(--primary-black);
    text-decoration: none;
}
.resource-content-text-paragraph{
    margin: 1em;
    font-size: 0.8rem;
    pointer-events: none;
}
.resource-content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.resource-content-image img{
    margin-top: 2em;
    cursor: pointer;
    max-height: 100px;
    max-width: 250px;
}
/*end of resource content*/

@media(max-width: 890px){
    .blueblock-container{
        width: 250px;
        height: 80px;
        top: 19em;
    }
    .blueblock-text{
        font-size: 2rem;
        padding-left: 0.8em;
        padding-top: 0.4em;
    }
    .e-resources-header-image img{
        height: 300px;
    }
    .resource{
        height: 300px;
        width: 200px;
        min-width: 200px;
    }
    .resource-content-text{
        margin-top: 0.6em;
    }
    .resource-content-text-header{
        margin-left: 0.6em;
        font-size: 0.8rem;
    }
    .resource-content-text-paragraph{
        margin: 0.8em;
        font-size: 0.6rem;
    }
    .resource-content-image img{
        height: 100px;
        margin-top: 1em;
        cursor: pointer;
    }
}

@media(max-width: 600px){
    .blueblock-container{
        margin-left: 30px;
    }
}
