@import url("variables.css");

/*start of slideshow*/
.slideshow-container{
  width: 100%;
  height: 450px;
  transform: translateY(-1em);
}
.slides img{
  display: none;
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: relative;
}
.slides img[class='active']{
  display: block;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
.slideshow-dots{
  display: flex;
  justify-content: center;
  transform: translateY(-2em);
}
.dots{
  display: flex;
  justify-content: center;
}
.dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
  background-color: var(--footer-primary);
}
.dot.active{
  background-color: var(--secondary-yellow);
}
.blueblock-container{
  position:absolute;
  top: 30em;
  background-color: var(--secondary-blue);
  width: 250px;
  height: 100px;
  margin-left: 70px;
  cursor: default;
}
.blueblock-text{
  display: flex;
  color: var(--primary-white);
  font-family: var(--blueblock-font);
  font-weight: var(--blueblock-font-weight);
  font-size: 2.6rem;
  justify-content: flex-start;
  padding-left: 1em;
  padding-top: 0.4em;
  font-weight: 600;
}
/*end of slideshow*/

/*start of home-content*/
.home-container{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  cursor: default;
}
.library-quote-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
}
.library-quote-wrapper{
  max-width: 50%;
  text-align: center;
  font-size: 1.6rem;
  transform: translateY(-1.8em);
  font-family: var(--secondary-font);
}
.library-quote-icon-right,.library-quote-icon-left{
  color: var(--secondary-yellow);
}
.library-quote-icon-left{
  padding-right: 0.5em;
}
.library-quote-icon-right{
  padding-left: 0.5em;
}
.library-quote-subtext{
  float: right;
  padding-top: 0.8em;
  font-size: 1.4rem;
}
.home-library{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}
.library-text{
  max-width: 400px;
  font-size: 1rem;
  font-family: var(--secondary-font);
}
.library-text h1{
  font-size: 2.6rem;
}
.library-text p{
  margin-top: 1em;
}
.library-image{
  margin-left: 5em;
}
.library-image img{
  width: 700px;
  height: 500px;
}
.home-digital-library{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10em;
}
.digital-library-text{
  max-width: 400px;
  font-size: 1rem;
  margin-left: 5em;
  font-family: var(--secondary-font);
}
.digital-library-text h1{
  font-size: 2.6rem;
}
.digital-library-text p{
  margin-top: 1em;
}
.digital-library-list{
  display: flex;
  flex-direction: row;
}
.digital-library-list ul{
  margin-top: 1em;
  margin-left: 1.2em;
}
.digital-library-list ul:nth-child(2){
  margin-left: 3.2em;
}
.digital-library-image img{
  width: 700px;
  height: 500px;
  object-fit: cover;
}
.home-viewmore{
  display: none;
}
.library-text:hover.home-viewmore{
  display: block;
  animation-name: slideIn;
  animation-duration: 1s;  
}
.digital-library-text:hover.home-viewmore{
  display: block;
  animation-name: slideIn;
  animation-duration: 1s;  
}
.working-hours-container{
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  margin-top: 6em;
  margin-bottom: 6em;
}
.working-hours-text h1{
  font-size: 2.6rem;
}
.working-hours-text p{
  margin-top: 2em;
  max-width: 400px;
}
.working-hours-image img{
  margin-left: 10em;
}
/*end of home-content*/

/*start of media queries -> MOBILE DEVICES*/
@media(max-width: 930px){
  .slideshow-container{
    height: 300px;
  }
  .slides img{
    height: 300px;
  }
  .blueblock-container{
    top: 22em;
    width: 140px;
    height: 60px;
    margin-left: 0.1em;
  }
  .blueblock-text{
    font-size: 1.8rem;
    padding-left: 0.7em;
    padding-top: 0.3em;
  }
  .library-quote-wrapper{
      max-width: 80%;
      font-size: 1.2rem;
  }
  .library-quote-subtext{
      font-size: 1rem;
  }
  .home-library{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
  }
  .library-image{
    margin-left: 0;
    padding-top: 1em;
  }
  .library-image img{
    width: 370px;
    height: 220px;
  }
  .library-text h1{
      font-size: 2.6rem;
  }
  .library-text{
      padding: 1em;
      font-size: 0.8rem;
  }
  .home-digital-library{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
  }
  .digital-library-text{
      padding-top: 0;
      margin-left: 0;
      max-width: auto;
      padding: 1em;
      font-size: 0.8rem;
  }
  .digital-library-text h1{
    font-size: 2.6rem;
  }
  .digital-library-image{
    margin-left: 0;
    padding-top: 1em;
  }
  .digital-library-image img{
    width: 370px;
    height: 220px;
  }
  .working-hours-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 4em;
    padding: 1em;
  }
  .working-hours-text h1{
    font-size: 2.6rem;
  }
  .working-hours-text p{
    margin-top: 1em;
    font-size: 0.8rem;
  }
  .working-hours-image img{
    width: 370px;
    height: 220px;
    margin-left: 0;
    padding-top: 2em;
  }
}
/*end of media queries -> MOBILE DEVICES*/

@media(max-width: 1200px) and (min-width:900px){
  .library-image{
      margin-left: 2em;
      margin-top: 0;
  }
  .library-image img{
      width: 550px;
      height: 350px;
  }
  .library-text h1{
    font-size: 2.4rem;
  }
  .library-text{
      max-width: 350px;
      font-size: 0.7rem;
  }
  .home-digital-library{
      margin-top: 6em;
  }
  .digital-library-text{ 
      max-width: 350px;
      font-size: 0.7rem;
  }
  .digital-library-text h1{
      font-size: 2.6rem;
  }
  .digital-library-image{
      padding-right: 0;
  }
  .digital-library-image img{
      width: 550px;
      height: 350px;
  }
  .working-hours-text{
    max-width: 350px;
    font-size: 0.7rem;
  }
  .working-hours-text h1{
    font-size: 2.4rem;
  }
  .working-hours-text p{
    margin-top: 1em;
    font-size: 0.8rem;
  }
  .working-hours-image img{
    width: 550px;
    height: 300px;
    margin-left: 2em;
    padding-top: 0;
  }
}