@import url("variables.css");

/*start of slideshow*/
.slideshow-container{
  width: 100%;
  height: 600px;
  transform: translateY(-1em);
}
.slides{
  position: relative;
  isolation: isolate;
}
.slides::after{
  content: '';
  position: absolute;
  inset: 0;
  background: var(--secondary-blue);
  opacity: 0.3;
}
.slides img{
  display: none;
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
}
.slides img[class='active']{
  display: block;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.slideshow-dots{
  display: flex;
  justify-content: center;
  position: relative;
  top: -2em;
}
.dots{
  display: flex;
  justify-content: center;
}
.dot{
  height: 2px;
  width: 5.5px;
  cursor: pointer;
  margin: 10px;
  background-color: var(--footer-primary);
}
.dot.active{
  background-color: var(--secondary-yellow);
}
.slideshow-text p{
  margin: auto;
}
.slideshow-container-text{
  font-size: 6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-shadow: 2px 1px rgb(224, 228, 255);
  position: relative;
  bottom: 4em;
  text-align: center;
}
/*end of slideshow*/
.quick-links{
  position: fixed;
  top: 20em;
}
.quick-links-button{
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
/*start of home-content*/
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  cursor: default;
}
.home-library{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.library-text{
  max-width: 400px;
  font-size: 1rem;
}
.library-text h1{
  font-size: 2.6rem;
  font-family: var(--secondary-font);
}
.library-text p{
  margin-top: 1em;
  font-family: var(--secondary-font);
}
.library-image{
  margin-left: 5em;
}
.library-image img{
  width: 700px;
  height: 500px;
}
.home-digital-library{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 6em;
}
.digital-library-text{
  max-width: 400px;
  font-size: 1rem;
  margin-left: 5em;
}
.digital-library-text h1{
  font-size: 2.6rem;
  font-family: var(--secondary-font);
}
.digital-library-text p{
  margin-top: 1em;
  font-family: var(--secondary-font);
}
.digital-library-list{
  display: flex;
  flex-direction: row;
}
.digital-library-list ul{
  margin-top: 1em;
  margin-left: 1.2em;
}
.digital-library-list ul:nth-child(2){
  margin-left: 3.2em;
}
.digital-library-image img{
  width: 700px;
  height: 500px;
  object-fit: cover;
}
.home-viewmore{
  display: none;
}
.library-text:hover.home-viewmore{
  display: block;
  animation-name: slideIn;
  animation-duration: 1s;  
}
.digital-library-text:hover.home-viewmore{
  display: block;
  animation-name: slideIn;
  animation-duration: 1s;  
}
.home-working-hours{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  margin-top: 5em;
  padding: 1em;
}
.working-hours-text h1{
  font-size: 2.6rem;
  text-align: center;
}
.working-hours-text p{
  margin-top: 1.5em;
  text-align: center;
  max-width: 50vw;
}
.working-hours-block{
  display: flex;
  margin-top: 2em;
  color: #fff;
}
.working-hours-block-weekdays,.working-hours-block-weekend{
  padding: 2em;
  width: 350px;
  height: 320px;
}
.working-hours-block-weekdays{
  background-color: #4f5fcd;
}
.working-hours-block-weekend{
  background-color: #4d89e3;
}
.working-hours-weekdays-header h3,.working-hours-weekend-header h3{
  margin-top: 0.8em;
}
.working-hours-weekdays-header i,.working-hours-weekend-header i{
  font-size: 2.2rem;
}
.working-hours-weekdays-text{
  margin-top: 2em;
}
.working-hours-weekend-text{
  margin-top: 4em;
}
.working-hours-transactions{
  margin-top: 2em;
}
#library-services{
  margin-top: 5em;
  padding: 1em;
  font-family: var(--primary-font);
}
.library-services-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.library-services-header{
  border-bottom: 1px solid var(--secondary-yellow);
}
.library-services-text{
  padding-top: 1.5em;
  width: 50%;
  line-height: 1.6em;
}
.library-services-list-wrapper{
  display: flex;
}
.library-services-list{
  width: 50%;
}
.library-services-list ul{
  padding-top: 1em;
}
.library-services-list ul li{
  line-height: 2.4em;
}
.library-services-list ul li i{
  display: none;
}
.fa-chevron-right{
  font-size: 0.8rem;
}
/*end of home-content*/

/* .page-count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
}
.page-count{
  padding: 1rem;
  margin: 1rem;
  width: 7rem;
}
.page-views-count {
  font-size: 2rem;
  font-weight: bold;
}
.page-count-container h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  margin-top: 1rem;
} */

/*start of media queries -> MOBILE DEVICES*/
@media(max-width: 930px){
  .slideshow-container{
    height: 300px;
  }
  .slides img{
    height: 300px;
  }
  .blueblock-container{
    top: 22em;
    width: 140px;
    height: 60px;
    margin-left: 0.1em;
  }
  .blueblock-text{
    font-size: 1.8rem;
    padding-left: 0.7em;
    padding-top: 0.3em;
  }
  .library-quote-wrapper{
      max-width: 80%;
      font-size: 1.2rem;
  }
  .library-quote-subtext{
      font-size: 1rem;
  }
  .home-library{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
  }
  .library-image{
    margin-left: 0;
    padding-top: 1em;
  }
  .library-image img{
    width: 370px;
    height: 220px;
  }
  .library-text h1{
      font-size: 2.6rem;
  }
  .library-text{
      padding: 1em;
      font-size: 0.8rem;
  }
  .home-digital-library{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
  }
  .digital-library-text{
      padding-top: 0;
      margin-left: 0;
      max-width: auto;
      padding: 1em;
      font-size: 0.8rem;
  }
  .digital-library-text h1{
    font-size: 2.6rem;
  }
  .digital-library-image{
    margin-left: 0;
    padding-top: 1em;
  }
  .digital-library-image img{
    width: 370px;
    height: 220px;
  }
  .home-working-hours{
    margin-top: 1em;
  }
  .working-hours-block{
    flex-direction: column;
  }
  .working-hours-text{
    padding: 1em;
  }
  .working-hours-text h1{
    text-align: unset;
  }
  .working-hours-text p{
    text-align: unset;
    max-width: none;
    font-size: 0.8rem;
  }
}
/*end of media queries -> MOBILE DEVICES*/

@media(max-width: 1200px) and (min-width:900px){
  .library-image{
      margin-left: 2em;
      margin-top: 0;
  }
  .library-image img{
      width: 550px;
      height: 350px;
  }
  .library-text h1{
    font-size: 2.4rem;
  }
  .library-text{
      max-width: 350px;
      font-size: 0.7rem;
  }
  .home-digital-library{
      margin-top: 6em;
  }
  .digital-library-text{ 
      max-width: 350px;
      font-size: 0.7rem;
  }
  .digital-library-text h1{
      font-size: 2.6rem;
  }
  .digital-library-image{
      padding-right: 0;
  }
  .digital-library-image img{
      width: 550px;
      height: 350px;
  }
  .working-hours-text{
    max-width: 350px;
    font-size: 0.7rem;
  }
  .working-hours-text h1{
    font-size: 2.4rem;
  }
  .working-hours-text p{
    margin-top: 1em;
    font-size: 0.8rem;
  }
}