@import url("variables.css");

/*start of slideshow*/
.slideshow-container{
  width: 100%;
  height: 450px;
  transform: translateY(-1em);
}
.slides img{
  display: none;
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: relative;
}
.slides img[class='active']{
  display: block;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
@keyframes fadeIn{
  from {opacity : .8}
  to {opacity : 1}
}
.slideshow-dots{
  display: flex;
  justify-content: center;
  transform: translateY(-2em);
}
.dots{
  display: flex;
  justify-content: center;
}
.dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
  background-color: var(--footer-primary);
}
.dot.active{
  background-color: var(--secondary-color);
}
.blueblock-wrapper{
  display:flex;
  justify-content: flex-start;
  width:100%;
}
.blueblock-container{
  position: static;
  background-color: var(--secondary-blue);
  font-family: var(--blueblock-font);
  font-weight: var(--blueblock-font-weight);
  width: 300px;
  height: 120px;
  margin-left: 100px;
  cursor: default;
  transform: translateY(-3.5em);
}
.blueblock-text{
  display: flex;
  color: var(--primary-white);
  font-size: 3rem;
  justify-content: flex-start;
  padding-left: 1em;
  padding-top: 0.4em;
}
/*end of slideshow*/

/*start of home-content*/
@keyframes slideUp{
  from{
    transform: translateY(80px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
.home-container{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  cursor: default;
}
.library-quote-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.library-quote-wrapper{
  max-width: 50%;
  text-align: center;
  font-size: 1.6rem;
  transform: translateY(-1.8em);
  font-family: var(--secondary-font);
}
.library-quote-icon-right,.library-quote-icon-left{
  color: var(--secondary-color);
}
.library-quote-icon-left{
  padding-right: 0.5em;
}
.library-quote-icon-right{
  padding-left: 0.5em;
}
.library-quote-subtext{
  float: right;
  padding-top: 0.8em;
  font-size: 1.4rem;
}
.home-library{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}
.library-text{
  max-width: 400px;
  font-size: 1rem;
  font-family: var(--secondary-font);
}
.library-text h1{
  font-size: 2.6rem;
}
.library-text p{
  margin-top: 1em;
}
.library-image{
  margin-left: 5em;
}
.library-image img{
  width: 700px;
  height: 500px;
}
.home-digital-library{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10em;
}
.digital-library-text{
  max-width: 400px;
  font-size: 1rem;
  margin-left: 5em;
  font-family: var(--secondary-font);
}
.digital-library-text h1{
  font-size: 2.6rem;
}
.digital-library-text p{
  margin-top: 1em;
}
.digital-library-list{
  display: flex;
  flex-direction: row;
}
.digital-library-list ul{
  margin-top: 1em;
  margin-left: 1.2em;
}
.digital-library-list ul:nth-child(2){
  margin-left: 3.2em;
}
.digital-library-image img{
  width: 700px;
  height: 500px;
  object-fit: cover;
}
.home-viewmore{
  display: none;
}
@keyframes slideIn{
  from{ transform: translateX(20px); }
  to{ transform: translateX(0px); }
}
.library-text:hover.home-viewmore{
  display: block;
  animation-name: slideIn;
  animation-duration: 1s;  
}
.digital-library-text:hover.home-viewmore{
  display: block;
  animation-name: slideIn;
  animation-duration: 1s;  
}
.home-resources{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  margin-top: 6em;
}
.resources-text h1{
  font-size: 2.6rem;
  text-align: center;
}
.resources-text p{
  margin-top: 2em;
}
/*end of home-content*/

/*start of media queries -> MOBILE DEVICES*/
@media(max-width: 890px){
  .blueblock-container{
      position: static;
      background-color: var(--secondary-blue);
      width: 250px;
      height: 100px;
      transform: translateY(-1.4em);
      margin-left: 3em;
      cursor: default;
  }
  .blueblock-text{
      font-size: 2.2rem;
      justify-content: center;
      padding-left: 0em;
      padding-top: 0.5em;
      padding-right: 0.5em;
  }
  .library-quote-wrapper{
      max-width: 60%;
      margin-top: 2em;
      font-family: var(--secondary-font);
      text-align: center;
      font-size: 1.3rem;
  }
  .library-quote-subtext{
      float: right;
      padding-top: 1.2em;
      font-size: 1.1rem;
  }
  .home-library{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 4em;
  }
  .library-image{
      margin-left: 0;
  }
  .library-image img{
      width: 550px;
      height: 350px;
  }
  .library-text h1{
      font-size: 2.6rem;
  }
  .library-text{
      padding-top: 1em;
      max-width: 550px;
      font-size: 1rem;
  }
  .library-yellow-box-container{
      display: none;
  }
  .home-digital-library{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5em;
  }
  .digital-library-text{
      padding-top: 1em;
      margin-left: 0;
      max-width: 550px;
      font-size: 1rem;
  }
  .digital-library-text h1{
      font-size: 2.6rem;
  }
  .digital-library-image{
      margin-right: 0;
  }
  .digital-library-image img{
      width: 550px;
      height: 350px;
  }
}



/*end of media queries -> MOBILE DEVICES*/
/*
@media(min-width: 1500px){
  .blueblock-container{
      position: static;
      background-color: var(--secondary-blue);
      width: 300px;
      height: 150px;
  }
  .blueblock-text{
      font-size: 2.6rem;
      justify-content: center;
      padding-left: 0em;
      padding-top: 0.8em;
      padding-right: 0.5em;
  }
  .home-library{
      margin-top: 2em;
  }
  .library-image{
      margin-left: 7em;
  }
  .library-image img{
      width: 600px;
      height: 400px;
  }
  .library-yellow-box-container{
      display: none;
      margin-top: 8em;
      width: 800px;
      height: 300px;
      background-color: var(--secondary-color);
      position: static;
      z-index: -1;
      transform: translateX(-6em);
  }
  .library-text h1{
      font-size: 2.6rem;
  }
  .library-text{
      margin-left: 3em;
      padding-top: 0em;
      max-width: 400px;
      font-size: 1rem;
  }
  .home-digital-library{
      margin-top: 8em;
  }
  .digital-library-text{
      max-width: 400px;
      font-size: 1rem;
  }
  .digital-library-text h1{
      font-size: 2.6rem;
  }
  .digital-library-image{
      padding-right: 0;
  }
  .digital-library-image img{
      width: 600px;
      height: 400px;
  }
}*/