/*poppins regular-400*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*work-sans medium-500*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

:root{
    --primary-font:'Work Sans';
    --secondary-font:'Poppins';
    --primary-black:#000;
    --secondary-black:#292929;
    --primary-white:#fff;
    --secondary-yellow:#FFC53A;
    --secondary-blue:#302f7e;
    --footer-primary:#f0f0f0;
    --footer-font-color:rgb(102, 101, 101);

    --nav-box-shadow-color:rgb(206, 204, 204);
    --blueblock-font:"Work Sans";
    --blueblock-font-weight: 800;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@keyframes fadeIn{
    from{
        opacity : .8
    }
    to{
        opacity : 1
    }
}

@keyframes slideUp{
    from{
      transform: translateY(80px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes slideIn{
    from{ 
        transform: translateX(20px); 
    }
    to{ 
        transform: translateX(0px); 
    }
}

@keyframes transitionIn{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    } 
}

@keyframes fadeIn-image{
    from{
        opacity : 0
    }
    to{
        opacity : 1
    }
}

@media(prefers-reduced-motion){
    .reveal{
      transition: none;
    }
}